<%= form_with model: @channel do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <% ['Genre', 'Era', 'Subtag'].each do |tag_type| %>
    <h4>
      <%= tag_type.pluralize %>
    </h4>

    <% @tags[tag_type].each do |tag| %>
      <%= f.check_box(:tag_ids, { multiple: true }, tag.id, false) %>
      <%= tag.name %>
    <% end %>
  <% end %>

  <%= f.submit %>

<% end %>
